In [13]:
# Zepto Inventory Dataset: EDA and Preprocessing

import pandas as pd

# Correct file path using the actual dataset folder name
xls = pd.ExcelFile("/kaggle/input/zepto-invetory-dataset/zepto_v1.xlsx")

# Show sheet names
sheet_names = xls.sheet_names

print(xls.sheet_names)


# Combine all sheets into a single DataFrame
df = pd.concat([xls.parse(sheet) for sheet in sheet_names], ignore_index=True)
df.head()

['Sheet1']

,Category,name,mrp,discountPercent,availableQuantity,discountedSellingPrice,weightInGms,outOfStock,quantity
0,Fruits & Vegetables,Onion,2500,16,3,2100,1000,False,1
1,Fruits & Vegetables,Tomato Hybrid,4200,16,3,3500,1000,False,1
2,Fruits & Vegetables,Tender Coconut,5100,15,3,4300,58,False,1
3,Fruits & Vegetables,Coriander Leaves,2000,15,3,1700,100,False,100
4,Fruits & Vegetables,Ladies Finger,1400,14,3,1200,250,False,250

In [14]:
# Dataset shape
print("Shape:", df.shape)

# Duplicate rows
print("Duplicate rows:", df.duplicated().sum())

# Missing values
print("Missing values per column:\n", df.isnull().sum())

# Data types
print("Column data types:\n", df.dtypes)

# Category distribution
print("Category distribution:\n", df['Category'].value_counts())

# Out-of-stock statistics
print("Out of stock counts:\n", df['outOfStock'].value_counts())

Shape: (3732, 9)
Duplicate rows: 2
Missing values per column:
 Category                  0
name                      0
mrp                       0
discountPercent           0
availableQuantity         0
discountedSellingPrice    0
weightInGms               0
outOfStock                0
quantity                  0
dtype: int64
Column data types:
 Category                  object
name                      object
mrp                        int64
discountPercent            int64
availableQuantity          int64
discountedSellingPrice     int64
weightInGms                int64
outOfStock                  bool
quantity                   int64
dtype: object
Category distribution:
 Category
Cooking Essentials       514
Munchies                 514
Packaged Food            388
Ice Cream & Desserts     388
Chocolates & Candies     388
Personal Care            344
Paan Corner              344
Home & Cleaning          194
Biscuits                 147
Dairy, Bread & Batter    129
Beverages                129
Health & Hygiene          97
Fruits & Vegetables       93
Meats, Fish & Eggs        63
Name: count, dtype: int64
Out of stock counts:
 outOfStock
False    3279
True      453
Name: count, dtype: int64

In [15]:
# Basic English stopwords (manual list)
basic_stopwords = {
    'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'your',
    'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she',
    'her', 'hers', 'herself', 'it', 'its', 'itself', 'they', 'them', 'their',
    'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that',
    'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being',
    'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an',
    'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of',
    'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through',
    'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down',
    'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then',
    'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both',
    'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not',
    'only', 'own', 'same', 'so', 'than', 'too', 'very', 'can', 'will', 'just',
    'don', 'should', 'now'
}

# Text cleaning function
def clean_text(text):
    if isinstance(text, str):
        text = text.lower()
        text = re.sub(r'[^\w\s]', '', text)  # remove punctuation
        tokens = text.split()
        tokens = [word for word in tokens if word not in basic_stopwords]
        return ' '.join(tokens)
    return ""

# Apply cleaning
df['cleaned_name'] = df['name'].apply(clean_text)
df[['name', 'cleaned_name']].head()

               name      cleaned_name
0             Onion             onion
1     Tomato Hybrid     tomato hybrid
2    Tender Coconut    tender coconut
3  Coriander Leaves  coriander leaves
4    Ladies Finger      ladies finger

In [16]:
import os
print(os.listdir("/kaggle/input"))

['zepto-invetory-dataset']